.container-register {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
}

.form {
    border: 1px solid var(--border);
}

input, input:active, button {
    padding: 5px;
    background-color: var(--base);
    border: 1px solid var(--border);
    outline: none;
    border-radius: 8px;
}

select {
    background-color: var(--base);
}