@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --base: #080404;
  --border: #8D8686;
  --card: #141414;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

input {
  padding: 10px !important;
  background-color: var(--card);
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 14px;
  border-bottom: 1px solid #fff;

}

input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--card) inset !important;
  -webkit-text-fill-color: #fff !important;
}

button {
  padding: 7px;
  background-color: #BB9256 !important;
  color: #fff;
  font-weight: bold;
  border: 1px solid var(--border);
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: #000 !important;
}